

.sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

.sidebar-wrapper .sidebar-heading {
  padding: 0.5rem 1.25rem;
  font-size: 1.6rem;
}

.sidebar-wrapper .list-group {
  width: 10rem;
}

.page-content-wrapper {
  min-width: 100vw;
}

.wrapper.toggled .sidebar-wrapper {
  margin-left: 0;
}

.sidebar-wrapper {
  margin-left: 0;
}


.image-random-size {
  max-height: 150px;
  max-width: 150px;
  margin: auto;
}

.image-details-size {
  max-height: 250px;
  max-width: 200px;
  margin-top: auto;
  margin-bottom: auto;
}

/*.content div {*/
/*  height: 100%;*/
/*}*/

.block-random-size {
  min-height: 220px;
}

.pagination {
  justify-content: center;
  margin: 20px 0;
}

.page-item.active .page-link {
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.page-link {
  color: #17a2b8;
}
.page-link:hover {
  color: #000;
}
.list-cursor {
  cursor: pointer
}
.list-cursor:hover {
  background: #17a2b8;
}

.cursor-pointer{
  cursor: pointer;
}

.cursor-pointer:hover {
  font-weight: bold;
  background: #28a745;
  color: #fff;
}

.scroll {
  overflow-y: scroll;
  height:500px;
}



@media (min-width: 768px) {


  .page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  .wrapper.toggled .sidebar-wrapper {
    margin-left: -15rem;
  }
}

@media (max-width: 768px) {
  .sidebar-wrapper .list-group {
    width: 8rem;
  }

  .image-random-size {
    height: 100px;
    max-width: 100px;
    margin: auto;
  }
}